RewriteEngine On

# Fix 'character set not specified' for woff2 files
AddType application/x-font-woff2 .woff2

<IfModule mod_headers.c>

  # Header for external calls (like from subdomains)
  Header add Access-Control-Allow-Origin "*"

  # SVG header
  <FilesMatch "\.(svg)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>

</IfModule>

# EXPIRES
<IfModule mod_expires.c>
    ExpiresByType application/xhtml+xml "access plus 600 seconds"
    ExpiresDefault "access plus 600 seconds"
</IfModule>
